body {background-image: url(tomara\ q\ va.jpg);
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
    color:white
    
}
h1 {border: 30px solid blue;
    border-radius: 0px;
    border-bottom-left-radius: 30px;
}



   
    